<style>
  h1 {
      color: rgb(252, 189, 42);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }    
.text-shadow {
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
</style>
<div class="jumbotron bg-transparent mb-0 radius-0">
  <div class="container">
      <div class="row">
          <div class="col-xl-9">
              <h1 class="display-3">ECSC TO EVERYONE<span class="vim-caret">͏͏&nbsp;</span></h1> <br />
              <div class="lead mb-3 text-mono text-white">No matter where you're from or how skilled you are, you're
                  welcome to strut your stuff at this cybersecurity event. It's a chance to mingle with the biggest
                  cybersecurity community in the world and showcase your talents. So why not give it a go, even if
                  you're not a pro?
              </div>
              <div class="text-mono"> <a href="documentation"
                      class="btn btn-warning btn-shadow px-3 my-2 ml-0 text-left"> Learn more!
                  </a> </div> <br />
              <div class="lead mb-3 text-mono text-shadow">The openECSC will be officially opened on March 27, 2023 :)
              </div>
          </div>
      </div>
  </div>
</div>