<div class="jumbotron bg-transparent mb-0 radius-0">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <h1 class="display-3">ECSC TO EVERYONE<span class="vim-caret">͏͏&nbsp;</span></h1>
        <div class="lead mb-3 text-mono text-success">No matter where you're from or how skilled you are, you're welcome to strut your stuff at this cybersecurity event. It's a chance to mingle with the biggest cybersecurity community in the world and showcase your talents. So why not give it a go, even if you're not a pro?
        </div>
        <div class="text-mono">
          <a href="documentation" class="btn btn-primary btn-shadow px-3 my-2 ml-0 text-left">
            Learn more!
          </a>
        </div>
        <div class="text-darkgrey text-mono my-2">The openECSC will be officially opened on March 27, 2023 :)</div>
      </div>
    </div>
  </div>
</div>
